* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#register {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
